root = true

[*.{c,cpp,h,ino,md,txt,py,sh,yaml,yml,json,csv}]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{png,jpg,jpeg,gif,ico,zip,bin,exe,elf,pdf}]
trim_trailing_whitespace = false
